
<div aria-live='polite' aria-atomic='true' class='position-relative'>
	<div class='toast-container position-absolute top-0 end-0 p-3'>
		<div
			class='toast align-items-center {{#if err}} show {{/if}}
{{#if result}} show {{/if}}'
			role='alert'
			aria-live='assertive'
			aria-atomic='true'
			data-bs-autohide='false'
		>
			<div class='d-flex'>
				<div class='toast-body'>
					{{err}}
					{{{result}}}
				</div>
				<button
					type='button'
					class='btn-close me-2 m-auto'
					data-bs-dismiss='toast'
					aria-label='Close'
				></button>
			</div>
		</div>
	</div>
</div>
<!--
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-muted">2 seconds ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
    </div>
-->
<div class='row justify-content-center'>
	<div class='col-12 col-md-6'>
		<svg
			xmlns='http://www.w3.org/2000/svg'
			width='280'
			height='280'
			fill='none'
			viewBox='0 0 280 280'
		>
			<path
				fill='#FFB55C'
				d='M195.706 124.852v49.812c-15.442-1.568-33.474-2.436-52.472-2.436-18.998 0-37.03.854-52.472 2.436v-49.812c15.554-1.54 33.586-2.394 52.472-2.394 18.886 0 36.904.854 52.472 2.394z'
			></path>
			<path
				fill='#6BC6AE'
				d='M187.656 60.676c0 1.834-1.358 3.318-3.038 3.318H101.85c-1.666 0-3.038-1.484-3.038-3.318s1.344-3.318 3.038-3.318h82.768c1.68-.014 3.038 1.47 3.038 3.318z'
			></path>
			<path
				fill='#EEF7F4'
				d='M183.764 78.848V65.422h-81.298v13.426c-6.846 2.156-11.83 8.568-11.83 16.128V219.1c0 9.338 7.56 16.912 16.912 16.912h71.12c9.338 0 16.912-7.56 16.912-16.912V94.976c.014-7.56-4.97-13.972-11.816-16.128z'
				opacity='.75'
			></path>
			<path
				fill='#EEF7F4'
				d='M93.03 225.386c2.926 5.054 8.372 8.47 14.644 8.47h71.12c6.258 0 11.718-3.402 14.644-8.47-6.538-5.838-26.544-10.08-50.204-10.08s-43.666 4.27-50.204 10.08z'
				opacity='.3'
			></path>
			<path
				fill='#D26300'
				d='M191.086 60.774c0 4.34-21.42 7.84-47.852 7.84-26.432 0-47.852-3.514-47.852-7.84v-9.1h95.69l.014 9.1z'
			></path>
			<path
				fill='#A94F00'
				d='M117.824 51.66h-2.94v15.428c.952.126 1.946.224 2.94.322V51.66zM113.092 51.66h-2.94v14.77c.952.154 1.932.294 2.94.434V51.66zM122.934 51.66h-1.47v16.1c.49.042.98.07 1.47.126V51.66zM104.72 65.422V51.66h-5.894v12.026c1.512.63 3.5 1.204 5.894 1.736zM171.206 51.66h-2.94v15.792c1.008-.112 1.988-.21 2.94-.322V51.66zM161.7 68.012V51.66h-1.47v16.436l1.47-.084zM176.806 51.66h-2.954v15.134c1.022-.14 2.002-.294 2.954-.448V51.66zM189.784 51.66h-9.828V65.8c4.69-.924 8.106-2.002 9.828-3.22V51.66zM166.432 51.66h-1.47v16.1c.49-.042.994-.07 1.47-.126V51.66z'
			></path>
			<path
				fill='#94D4C3'
				d='M143.234 76.258c-16.8 0-32.172-1.414-41.132-3.766a1.99 1.99 0 01-1.414-2.408 1.99 1.99 0 012.408-1.414c8.652 2.282 23.66 3.64 40.138 3.64 16.478 0 31.486-1.358 40.138-3.64 1.05-.28 2.128.35 2.408 1.414a1.969 1.969 0 01-1.414 2.408c-8.946 2.366-24.332 3.766-41.132 3.766z'
			></path>
			<path
				fill='#EB7D25'
				d='M191.086 51.66c0 4.34-21.42 7.84-47.852 7.84-26.432 0-47.838-3.5-47.838-7.84s21.42-7.84 47.852-7.84c26.432 0 47.838 3.514 47.838 7.84z'
			></path>
			<path
				fill='#A94F00'
				d='M143.234 43.82c-26.418 0-47.852 3.514-47.852 7.84 0 1.05 1.274 2.058 3.57 2.968-.434-.196-.714-.378-.938-.518 1.05-.7 4.298-2.24 13.552-3.598 8.68-1.288 19.922-1.988 31.654-1.988s22.974.7 31.654 1.988c9.254 1.358 12.502 2.898 13.552 3.598-.21.14-.518.322-.938.518 2.296-.924 3.57-1.932 3.57-2.968.028-4.326-21.406-7.84-47.824-7.84z'
			></path>
			<path
				fill='#D26300'
				d='M143.234 46.074c11.732 0 22.974.7 31.654 1.988 9.254 1.358 12.502 2.898 13.552 3.598-1.05.7-4.298 2.24-13.552 3.598-8.68 1.288-19.922 1.988-31.654 1.988s-22.974-.7-31.654-1.988c-9.254-1.358-12.502-2.898-13.552-3.598 1.05-.7 4.298-2.24 13.552-3.598 8.68-1.288 19.922-1.988 31.654-1.988zm0-2.254c-26.418 0-47.852 3.514-47.852 7.84 0 4.326 21.42 7.84 47.852 7.84 26.432 0 47.852-3.514 47.852-7.84 0-4.326-21.434-7.84-47.852-7.84z'
			></path>
			<path
				fill='#A94F00'
				d='M163.982 53.648H125.23l-1.372-1.988h38.752l1.372 1.988z'
			></path>
			<path
				fill='#773500'
				d='M125.23 53.648h38.752l-.686-.994h-38.752l.686.994z'
			></path>
			<path
				fill='#FFCD2F'
				d='M150.794 206.248c0 9.506-7.714 17.234-17.234 17.234-9.52 0-17.234-7.7-17.234-17.234 0-9.506 7.7-17.234 17.234-17.234 9.534 0 17.234 7.728 17.234 17.234z'
			></path>
			<path
				fill='#FFB000'
				d='M133.56 191.828c7.952 0 14.406 6.468 14.406 14.406 0 7.952-6.468 14.406-14.406 14.406-7.938 0-14.42-6.44-14.42-14.392.028-7.952 6.482-14.42 14.42-14.42zm0-2.814c-9.506 0-17.234 7.7-17.234 17.234 0 9.506 7.7 17.234 17.234 17.234 9.506 0 17.234-7.7 17.234-17.234 0-9.506-7.728-17.234-17.234-17.234z'
			></path>
			<path
				fill='#FFB000'
				d='M143.822 206.248c0 5.67-4.592 10.262-10.262 10.262-5.67 0-10.248-4.592-10.248-10.262 0-5.67 4.592-10.262 10.248-10.262 5.67 0 10.262 4.592 10.262 10.262z'
			></path>
			<path
				fill='#F49E00'
				d='M194.096 198.842c3.08 2.268 1.008 10.304-4.62 17.976-5.642 7.672-12.698 12.054-15.778 9.786l-3.318-2.436 20.398-27.762 3.318 2.436z'
			></path>
			<path
				fill='#FFCD2F'
				d='M190.778 196.42c3.08 2.268 1.008 10.304-4.62 17.976-5.642 7.672-12.698 12.054-15.778 9.786-3.08-2.268-1.008-10.304 4.62-17.976 5.628-7.672 12.698-12.054 15.778-9.786z'
			></path>
			<path
				fill='#FFB000'
				d='M175.91 206.864c4.704-6.398 10.626-10.08 13.202-8.176 2.576 1.89.84 8.638-3.864 15.036s-10.626 10.08-13.202 8.176c-2.576-1.89-.84-8.638 3.864-15.036zm-.91-.658c-5.642 7.672-7.7 15.708-4.62 17.976 3.08 2.268 10.136-2.114 15.778-9.786 5.642-7.658 7.7-15.708 4.62-17.976-3.08-2.268-10.15 2.114-15.778 9.786z'
			></path>
			<path
				fill='#FFB000'
				d='M186.648 202.034c1.834 1.344.602 6.146-2.758 10.71-3.36 4.564-7.546 7.168-9.394 5.824-1.834-1.344-.602-6.146 2.744-10.71 3.374-4.564 7.588-7.168 9.408-5.824z'
			></path>
			<path
				fill='#F49E00'
				d='M134.386 222.824c0 3.822-7.7 6.916-17.234 6.916-9.506 0-17.234-3.094-17.234-6.916v-4.116h34.44v4.116h.028z'
			></path>
			<path
				fill='#FFCD2F'
				d='M134.386 218.68c0 3.822-7.7 6.916-17.234 6.916-9.506 0-17.234-3.094-17.234-6.916 0-3.822 7.714-6.916 17.234-6.916 9.52 0 17.234 3.108 17.234 6.916z'
			></path>
			<path
				fill='#FFB000'
				d='M117.152 212.898c7.952 0 14.406 2.604 14.406 5.796s-6.468 5.796-14.406 5.796c-7.952 0-14.406-2.604-14.406-5.796.014-3.192 6.454-5.796 14.406-5.796zm0-1.134c-9.506 0-17.234 3.094-17.234 6.916 0 3.822 7.714 6.916 17.234 6.916 9.52 0 17.234-3.094 17.234-6.916 0-3.808-7.714-6.916-17.234-6.916z'
			></path>
			<path
				fill='#FFB000'
				d='M127.414 218.68c0 2.282-4.592 4.116-10.262 4.116-5.67 0-10.248-1.834-10.248-4.116 0-2.282 4.592-4.116 10.248-4.116 5.67 0 10.262 1.848 10.262 4.116z'
			></path>
			<path
				fill='#F49E00'
				d='M164.178 221.802c-.518 3.78-8.596 5.796-18.018 4.494-9.422-1.302-16.632-5.432-16.114-9.226l.56-4.074 34.118 4.746-.546 4.06z'
			></path>
			<path
				fill='#FFCD2F'
				d='M164.738 217.714c-.518 3.78-8.596 5.796-18.018 4.494-9.422-1.302-16.632-5.432-16.114-9.226.518-3.794 8.596-5.796 18.018-4.494 9.436 1.316 16.66 5.446 16.114 9.226z'
			></path>
			<path
				fill='#FFB000'
				d='M148.47 209.622c7.868 1.092 13.902 4.55 13.482 7.714-.448 3.15-7.196 4.844-15.064 3.752-7.868-1.092-13.902-4.55-13.482-7.714.448-3.178 7.21-4.844 15.064-3.752zm.182-1.12c-9.422-1.316-17.486.7-18.018 4.494-.518 3.78 6.678 7.924 16.114 9.226 9.422 1.316 17.486-.7 18.018-4.494.532-3.794-6.706-7.924-16.114-9.226z'
			></path>
			<path
				fill='#FFB000'
				d='M157.836 216.762c-.322 2.254-5.11 3.444-10.724 2.66-5.6-.784-9.912-3.248-9.59-5.502.308-2.254 5.11-3.444 10.724-2.66 5.628.784 9.912 3.248 9.59 5.502z'
			></path>
			<path
				fill='#EEF7F4'
				d='M104.636 206.248l.868 1.582 1.568.854-1.568.854-.868 1.582-.854-1.582-1.568-.854 1.568-.854.854-1.582zM170.38 197.414l.868 1.568 1.568.882-1.568.854-.868 1.582-.854-1.582-1.582-.854 1.582-.882.854-1.568zM160.454 185.08l.868 1.582 1.582.854-1.582.854-.868 1.582-.854-1.582-1.582-.854 1.582-.854.854-1.582zM188.202 160.972l.868 1.582 1.568.854-1.568.854-.868 1.582-.868-1.582-1.568-.854 1.568-.854.868-1.582zM122.192 85.414l.882 1.582 1.554.854-1.554.868-.882 1.568-.854-1.568-1.582-.868 1.582-.854.854-1.582zM168.252 77.882l.854 1.582 1.582.868-1.582.854-.854 1.582-.854-1.582-1.582-.854 1.582-.868.854-1.582zM148.876 101.346l.854 1.582 1.582.854-1.582.868-.854 1.568-.854-1.568-1.582-.868 1.582-.854.854-1.582zM119.756 21.574l.868 1.568 1.568.868-1.568.854-.868 1.568-.854-1.568-1.582-.854 1.582-.868.854-1.568zM165.816 32.9l.854 1.582 1.582.854-1.582.868-.854 1.568-.854-1.568-1.582-.868 1.582-.854.854-1.582zM203.532 70.854l1.064 2.366 1.96 1.26-1.96 1.288-1.064 2.366-1.064-2.366-1.96-1.288 1.96-1.26 1.064-2.366zM87.752 72.632l1.05 2.352 1.96 1.274-1.96 1.288-1.05 2.366-1.078-2.366-1.96-1.288 1.96-1.274 1.078-2.352zM102.788 188.188l1.078 2.338 1.96 1.288-1.96 1.288-1.078 2.352-1.064-2.352-1.946-1.288 1.946-1.288 1.064-2.338zM76.062 177.226l1.078 2.338 1.96 1.288-1.96 1.288-1.078 2.338-1.064-2.338-1.974-1.288 1.974-1.288 1.064-2.338zM82.124 203.546l1.064 2.352 1.96 1.288-1.96 1.288-1.064 2.338-1.064-2.338-1.96-1.288 1.96-1.288 1.064-2.352zM206.556 144.942l1.064 2.338 1.96 1.288-1.96 1.274-1.064 2.352-1.078-2.352-1.96-1.274 1.96-1.288 1.078-2.338zM212.618 185.15l1.078 2.352 1.946 1.288-1.946 1.288-1.078 2.338-1.064-2.338-1.974-1.288 1.974-1.288 1.064-2.352zM65.268 100.156l1.064 2.338 1.96 1.288-1.96 1.288-1.064 2.338-1.078-2.338-1.96-1.288 1.96-1.288 1.078-2.338zM127.554 188.79l1.078 1.96 1.96 1.064-1.96 1.078-1.078 1.96-1.05-1.96-1.96-1.078 1.96-1.064 1.05-1.96zM188.776 184.478l1.064 1.96 1.946 1.078-1.946 1.078-1.064 1.96-1.078-1.96-1.96-1.078 1.96-1.078 1.078-1.96zM218.022 124.572l1.064 1.96 1.96 1.064-1.96 1.078-1.064 1.96-1.064-1.96-1.96-1.078 1.96-1.064 1.064-1.96zM68.068 119.126l-1.078 1.96-1.96 1.078 1.96 1.064 1.078 1.974 1.078-1.974 1.96-1.064-1.96-1.078-1.078-1.96zM134.33 152.138l1.064 1.96 1.96 1.064-1.96 1.078-1.064 1.96-1.078-1.96-1.96-1.078 1.96-1.064 1.078-1.96z'
			></path>
			<g opacity='.5'>
				<path
					fill='#E3EAE8'
					d='M188.202 87.85c-9.24 1.204-20.146 2.044-31.85 2.394v16.66c11.802-.35 22.75-1.19 31.85-2.436V87.85zM156.352 233.856h22.456c3.472 0 6.706-1.05 9.408-2.842v-120.61c-9.24 1.204-20.146 2.044-31.85 2.394v121.058h-.014z'
					opacity='.5'
				></path>
			</g>
			<path
				fill='#FFDCC2'
				d='M192.626 226.282c-3.094 4.564-8.372 7.56-14.364 7.56h-72.478c-6.51 0-12.152-3.542-15.092-8.764-13.902 1.736-14.616 4.648-14.616 7.434 0 5.25 23.156 9.072 61.586 9.072s69.58-4.256 69.58-9.492c-.028-2.184-5.474-4.2-14.616-5.81z'
			></path>
			<g>
				<path
					fill='#8F1A1D'
					d='M131.41 154.908v2.821h-19.519v-2.023l12.098-18.722h2.801l-3.006 5.418-7.997 12.506h15.623zm-3.766-17.924V164h-3.433v-27.016h3.433zm23.843 11.356v4.119c0 2.214-.198 4.082-.594 5.603-.396 1.522-.965 2.747-1.707 3.674-.742.928-1.639 1.602-2.691 2.023-1.039.408-2.214.612-3.525.612-1.039 0-1.998-.13-2.876-.39a6.816 6.816 0 01-2.375-1.243c-.693-.581-1.286-1.336-1.781-2.263-.495-.928-.872-2.054-1.132-3.377-.26-1.324-.39-2.87-.39-4.639v-4.119c0-2.214.198-4.07.594-5.567.408-1.496.983-2.696 1.726-3.599.742-.916 1.632-1.571 2.672-1.967 1.051-.396 2.226-.594 3.525-.594 1.051 0 2.016.13 2.894.39a6.52 6.52 0 012.375 1.206c.693.544 1.281 1.274 1.763 2.189.495.903.872 2.011 1.132 3.322.26 1.311.39 2.851.39 4.62zm-3.452 4.676v-5.251c0-1.213-.074-2.276-.222-3.192-.136-.927-.34-1.719-.613-2.375-.272-.655-.618-1.187-1.039-1.595a3.653 3.653 0 00-1.428-.891c-.532-.198-1.132-.297-1.8-.297-.817 0-1.54.155-2.171.464-.631.297-1.163.773-1.596 1.429-.42.655-.742 1.515-.965 2.579-.222 1.064-.334 2.356-.334 3.878v5.251c0 1.212.068 2.282.205 3.21.148.927.364 1.731.649 2.412.284.668.631 1.218 1.039 1.651.408.433.878.755 1.41.965a5.229 5.229 0 001.8.297c.841 0 1.577-.161 2.208-.483.631-.321 1.157-.822 1.577-1.503.433-.692.755-1.577.965-2.653.21-1.088.315-2.387.315-3.896zm26.125 1.892v2.821h-19.519v-2.023l12.098-18.722h2.801l-3.006 5.418-7.997 12.506h15.623zm-3.766-17.924V164h-3.433v-27.016h3.433z'
				></path>
			</g>
		</svg>
		<p class='mt-2 text-center'>Oops! Something went wrong.
			<br />
			Please go back to the homepage or contact us at
			<a
				href='mailto:different@sundarisilks.com'
				target='_blank'
			>different@sundarisilks.com</a></p>
	</div>
</div>