<section>
  <div class="chit-cnt">
    <h1>SAVE AND BUY SCHEME Rules and Regulations</h1>
    <div class="save-and-buy-scheme-faq-wrapper">
      <style type="text/css">
        .save-and-buy-scheme-faq-wrapper ol{list-style-type: decimal; margin-top: 0; margin-bottom: 1rem;
        padding:30px;} .save-and-buy-scheme-faq-wrapper ol li{margin-bottom: .5rem;}
      </style>
      <ol>
        <li>Members are required to pay the monthly subscription of INR. 300/500/1,000 for a period of 12
          months without fail.</li>
        <li>Kindly note that this payment is due on the 19th of every month.</li>
        <li>Payment modes offered include cash, cards, cheques, M.O and Demand Drafts (in the name of Sundari
          Silks), as well as Google Pay.</li>
        <li>Registration for this scheme can currently be done only at our showrooms, although monthly
          payments can be done through the digital dashboard on our website.</li>
        <li>Members are segregated into groups of 100 for the purpose of monthly promotions, based on the
          subscribed scheme (INR 300/500/1,000).</li>
        <li>A winner is drawn from each group on the 20th of every month who will be exempted from paying the
          remaining subscription amount of the year. The winners will be notified through their registered
          number and email.</li>
        <li>In addition to the maturity amount, all members will receive a bonus gift or an incentive amount
          of the same value.
        </li>
        <li>When the member fails to make payments for 3 months, it will be termed as discontinued.</li>
        <li>In the case of discontinuance of the scheme, the payment made thus far will not be refunded.
          Although, the member can make a purchase at our Chennai and Mumbai showrooms amounting to the same
          value. This cannot be done on our online store.</li>
        <li>If the bonus gift has been claimed before discontinuance, the amount of the gift will be deducted
          from the purchase redeemable total.</li>
        <li>The Management is not responsible for the loss or damage of this card.</li>
        <li>Kindly notify us in case of loss/damage of this card immediately. To avoid misuse of the card we
          would require a letter with your ID proof and signature that matches with the one provided at the
          time of joining.</li>
        <li>Sundari Silks reserves the right t alter, amend, modify, add or delete any of the terms and
          conditions from time to time. The right to enrolment will be at the discretion of the management.
          The conduct of the scheme is subject to the terms and conditions laid down by the Central/State
          Govt. All disputes are subject to the jurisdiction of the competent court in Chennai.</li>
        <li>In the case of dishonour of cheque as payment for the purchase of any product from Sundari Silks,
          the customer will be required to bear the charges of ₹118.</li>
      </ol>
    </div>
  </div>
</section>
