{{!-- {{url}} --}}
<form id='frm1' action='{{url}}' name='frm1' method='post'>
	<script type='text/javascript'>
		window.onload = function(){ document.forms['frm1'].submit(); }
		let json= `{{{adasd}}}`;
		let str = JSON.parse(json); console.log(str); var postData =
		JSON.parse(json); for(var key in postData){ var input =
		document.createElement('input'); input.setAttribute('type', 'hidden');
		input.setAttribute('value', postData[key]); input.setAttribute('name', key);
		document.getElementById("frm1").appendChild(input); }
	</script>
</form>