body{
  background-color: #fef1e1;
}

.card {
  border-radius: 10px
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center
}

.progress {
  height: 10px;
  border-radius: 10px
}

.progress div {
  background-color: red
}

.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="tel"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary{
  background: #1A5C30;
  border-color: #1A5C30;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: #1A5C30;
  color: #1A5C30;
  background-color: transparent;
}
.btn-link{
  color: #1A5C30;
}
.btn-link:hover,
.btn-link:focus{
  color: #1A5C30;
  text-decoration: underline;
}
.logo{
  max-width: 180px;
}
svg{
  width: 100%;
  height: auto;
}
